.background-image{
    position: relative;
    background-image: url("../images/BeforeHeader.jpg");
    background-size: cover;
    height: 900px;
}

.dark-overlay{
    position: absolute;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.inline-before-header{
    gap: 10px;
    padding: 0 50px;
    display: flex;
}

.title-before-header{
    color: rgb(255, 154, 68);
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
}

.title-span{
    color: rgb(255, 255, 255);
}

.about-before-header{
    font-family: 'Libre Baskerville', serif;
    padding-top: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.info-before-header{
    font-family: 'Libre Baskerville', serif;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    max-width: 800px;
}

.button-before-header{
    font-family: 'Libre Baskerville', serif;
    border: none;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
}

.button-before-header:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.4s;
}

.overlay-free-trial{
    padding: 20px;
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    border-radius: 5px;
}

.try-free{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

.try-free-span{
    color: rgb(255, 154, 68);
}

.input-before-header{
    width: 100%;
    padding: 10px;
    font-size: 17px;
}

.input-before-header:focus{
    outline-color: rgb(255, 154, 68);
}

.button-get-started{
    border: none;
    background-color: rgb(255, 154, 68);
    width: 100%;
    padding: 15px 0;
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 5px;
    cursor: pointer;
}

.button-get-started:hover{
    background-color: rgb(253, 130, 22);
    transition: 0.4s;
}


@media (max-width: 999px) {
    .inline-before-header{
        text-align: center;
        display: grid;
        place-items: center;
        gap: 30px;
    }

    .overlay-free-trial{
        width: 300px;
    }
}

@media (max-width: 399px) {
    .overlay-free-trial{
        width: 250px;
    }

    .inline-before-header{
        padding: 0 20px;
    }
}