.section-hero{
    font-family: 'Libre Baskerville', serif;
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    place-items: center;
}

.overlay-hero{
    padding: 0 50px;
    display: flex;
    gap: 50px;
}

.title-hero{
    font-size: 20px;
}

.info-hero{
    padding-top: 10px;
    font-size: 15px;
    max-width: 800px;
}

.info-other-hero{
    padding-top: 10px;
    font-size: 20px;
    color: rgb(150, 150, 150);
}

.button-download-hero{
    font-family: 'Libre Baskerville', serif;
    border: none;
    background-color: rgb(255, 154, 68);
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 15px;
    cursor: pointer;
}

.button-download-hero:hover{
    transition: 0.4s;
    background-color: rgb(253, 130, 22);
}

.overlay-buttons-hero{
    display: grid;
    gap: 15px;
}

.button-tab{
    font-family: 'Libre Baskerville', serif;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
    cursor: pointer;
    font-size: 17px;
}

.button-true-hero{
    font-family: 'Libre Baskerville', serif;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 154, 68);
    cursor: pointer;
    font-size: 17px;
}


@media (max-width: 939px) {
    .overlay-hero{
        text-align: center;
        display: grid;
        place-items: center;
    }

    .overlay-buttons-hero{
        display: flex;
    }

    .title-hero{
        text-align: center;
    }

    .info-hero,
    .info-other-hero{
        text-align: left;
    }
}