.social-media-bar{
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.social-media-title{
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
}

.social-media-about{
    padding-top: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 17px;
    max-width: 500px;
}

.social-media-links{
    display: flex;
}

.social-media-li{
    margin-top: 20px;
}

.social-media-a{
    font-size: 35px;
    color: rgb(150, 150, 150);
}

.social-media-a:hover{
    color: rgb(255, 154, 68);
    transition: 0.4s;
}